
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
  body{
    margin: 0px;
    padding: 0px; 
}

.header{
    background-color:darkgoldenrod;
    height: 60px;
    margin: 0px;
    position: fixed;
    z-index: 1000;
    width: 100%;

}
nav ul-1 li{
    list-style: none;
    display: inline-block;
    padding: 15px;
    overflow: hidden;
}

 ul-1 li a{
    color: white;
    letter-spacing: 0.1rem;
    text-decoration: none;
 }   

ul-1 li a:hover{
    border-radius: 20px;
    background-color: rgb(9, 9, 78) ;
    padding: 15px;
    margin: 15px;

}
@media screen and (max-width: 885px){
 .header{ 
  padding: 10px;
  
}
 } 


/*--------------------------------------------------------------
# profil
--------------------------------------------------------------*/


#profil{
    width: 100%;
    padding: 100px 0px;
    background-color:rgb(9, 9, 78) ;
  } 
   #profil img{
  height: 500px;
  width: 450px; 
  padding: 10px;
  border-radius: 50%;
  position: relative;
   border:darkgoldenrod solid 10px;
   bottom: 80px;
  }

  .profil-text{
    width: 550px;
    padding: 20px;
  }
  .main{
    width: 1130px;
    max-width: 95%;
    margin: 0vmax auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .profil-text h2{
    color: #fff;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
  }
  .profil-text h5{
    color: #fff;
    letter-spacing: 2px;
    font-size: 30px;
    margin-bottom: 25px;
    text-transform: capitalize;
  }
  .profil-text p{
    color: #fcfcfc;
    columns: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 28px;
    margin-bottom: 45px;
  }
  span{
    color: #f8bf04;
  }
  button{
    background-color: darkgoldenrod;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
  }
  button:hover{
    background-color: transparent;
    border: 2px solid #f8bf04;
    cursor: pointer;
  }
  @media screen and (max-width: 885px){
   #profil{ 
    width: 255vh;
    padding: 15px;
  }
   .profil-text p{
    font-size: 38px;
    line-height: 35px;
  }
   }
  /*--------------------------------------------------------------
# Formations et certifications
--------------------------------------------------------------*/

.Forma{
  background-color: darkgoldenrod;
  width: 100%;
  padding: 10px;
}

.titre h2{
  color: rgb(9, 9, 78);
  font-size: 75px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;

}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
} 

 .f-card{
  height: 365px;
  width: 335px;
  padding: 20px 35px;
  background: rgb(9, 9, 78) ;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.f-card i{
  font-size: 30px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: #ffd609;
}
h5{
  color: darkgoldenrod;
  margin-bottom: 15px;
  font-size: 25px;
}
.pra p{
  color: #ffd609;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 25px;
}
.f-card .button{
  background-color: darkgoldenrod;
  color: #fff;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 6px 22px;
  border-radius: 30px;
  transition: .4s;
}
.f-card .button:hover{
  background-color: transparent;
  border: 2px solid #468ef0;
  cursor: pointer;
}
.text-center .h3{
  vertical-align: inherit
}
@media screen and (max-width: 885px){
  .Forma{ 
    width:255vh ; 
}

}

/*--------------------------------------------------------------
# Compétences
--------------------------------------------------------------*/

.compet{
  padding: 8px;
  background: rgb(9, 9, 78);
}
#Compétence {
    width: 0;
    padding: 0;
    font-family:Gill sans,sans-serif;
    list-style: none;
    text-transform: uppercase;
  }
  .titre h1{
  color: darkgoldenrod;
  text-align: center;
  font-size: 75px;
  width: 1130px;
  margin: 30px auto;
  }
  h3{ 
  margin: 5px;
    
  }
  .skill{
    width: 1040px;
    margin: 60px;
    color: #000;
    padding: 5px;
    background: darkgoldenrod;
    box-shadow: 0 14px  28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .skill  li{
    margin: 25px;
    padding: 10px;
  
  }
  .bar{
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius:10px ;
    overflow: hidden;
    box-shadow: 0 1px  3px rgba(0,0,0,0.25), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s  cubic-bezier(.25,25,8,25,1);
  }
  .bar:hover{
    box-shadow: 0 14px  28px rgba(0,0,0,0.12), 0 10px 10px rgba(0,0,0,0.22);
    
  }
  .bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgba(326,0,140,1)0%, rgb(223, 219, 8)100%);
  }
  .html{
      width: 90px;
      animation: html  30s;
  } 
  .css{
      width: 70px;
      animation: css 30s;
  }

  .gestion{
      width: 60px;
      animation: gestion 30s;
  }
  .frensais{
     width: 45px;
     animation: frensais 30s;
  }
  .anglais{
    width: 80px;
    animation: frensais 30s;

 }.arabe{
  width: 50px;
  animation: frensais 30s;
}
  @keyframes html{
   0%{
    width: 0%;
   }
   100%{
    width: 90%;
   }
  }
  @keyframes css{
    0%{
     width: 0%;
    }
    100%{
     width: 70%;
    }
   }

   @keyframes gestion{
    0%{
     width:0%;
    }
    100%{
     width: 45%;
    }
   }

   @keyframes frensais{
    0%{
     width: 0%;
    }
    100%{
     width: 60%;
    }
   }

   @keyframes agalais{
    0%{
     width: 0%;
    }
    100%{
     width: 40%;
    }
   }

   @keyframes arabe{
    0%{
     width: 0%;
    }
    100%{
     width: 50%;
    }
   }
   @media screen and (max-width: 885px){
    .compet{
      width: 255vh;
  }
}
/*---------------------------------------------------------
#qualite personelle
------------------------------------------------------------*/

.qtl{
  padding: 8px;
  background: darkgoldenrod;
}
#qualitepersonelle {
  margin: 0;
  padding: 0;
 box-sizing: border-box;
 font-family: 'oswald',sans-serif;
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 100vh;
}
ul
{
  position: relative;
  transform: skewY(-15deg);
}
ul li
{
  position: relative;
  list-style: none;
  width: 200px;
  background: #353b48;
  padding: 15px;
  left: 500px;
  height: 40px;
  z-index: var(--1);
  transition: 0.5s;
}

ul li a
{
  text-decoration: none;
  color: #fff;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.05cm;
  transition: 0.5s;
}

ul li:hover
{
background: #590bc0;
transform: translateX(-50px);

}
ul li::before
{
  content: '';
  position: absolute;
  top:0 ;
  left: -40px;
  width: 40px;
  height: 100%;
  background: #353b48;
  transform-origin: right;
  transform: skewY(45deg);
  transition: 0.5s;
}


ul li :hover::before
{
  background: #353b48;
}

ul li ::after
{
  content: '';
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  background: #353b48;
  transform-origin: bottom;
  transform: skewx(45deg);
  transition: 0.5s;
}
ul li :hover:after
{
  background: #590bc0;
}
@media screen and (max-width: 885px){
  .qtl{
    width: 255vh;
    
}
}
/*---------------------------------------------------------
#exepriences
------------------------------------------------------------*/
.exeper{
  padding: 8px;
  background: rgb(9, 9, 78);
}
#exepriences {
    width: 0;
    padding: 0;
    font-family:'poppins',sans-serif;
    box-sizing: border-box;
   
  }
  .titre h4{
    color: darkgoldenrod;
  text-align: center;
  font-size: 75px;
  width: 1130px;
  margin: 30px auto;
  } 
.timeline{
  position: relative;
  max-width:90px ;
  margin: 100px auto;
  
}
.contain{
  padding: 10px 50px;
  position: relative;
  width: 35%;
  background: darkgoldenrod;
}
.text-box{
  padding: 20px 30px;
  background: rgb(9, 9, 78);
  position: relative;
  border-radius:5px ;
  font-size: 15px;
  color: #fff;
  line-height: 30px;
  font-size: 25px;
}
.right-contain{
  right: 0;
}
.left-contain{
  left:42%;
}
.timelin::after{
  content: '';
  position:absolute;
  width: 6px;
  height: 80%;
  background:#fcfcfc ;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1; 
}
@media screen and (max-width: 885px){
  .exeper{
    width: 255vh;
}
}
/*---------------------------------------------------------
#reference
------------------------------------------------------------*/
.refer{
  padding: 8px;
 box-sizing: border-box;
 background: darkgoldenrod;
}
#references {
font-family: "fira sans", sans-serif;
line-height: 1.6;
min-height: 100vh;
display: grid;
place-items: center;
}
h6{
  font-size:15px ;
}

.u-card{
  width: 40%;
  margin-left: 30%;
  border: 3px ;
  display: flex;
  flex-direction: column;
  background:rgb(9, 9, 78) ;
  color: white;
  text-align: center;
  padding:1cm 0;
  
  
  
}
.refer-2image{
  border-radius: 60%;
  border: 4px solid darkgoldenrod;

}

.s-card{
  width: 40%;
  border: 3px ;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  background:rgb(9, 9, 78) ;
  color: white;
  text-align: center;
  padding:1cm 0;

}
.refer-image{
  border-radius: 60%;
  border: 4px solid white;
}
@media screen and (max-width: 885px){
  .refer{ 
    width: 259vh;
}

}
/*----------------------------------------------------------------
#centre d'intret

--------------------------------------------------------------------*/
.centre{
  padding: 8px;
  background: rgb(9, 9, 78);
}
#centrdintret {
    width: 0;
    padding: 0;
    font-family:Gill sans,sans-serif;
    list-style: none;
    text-transform: uppercase;
    
  }
  
  .titre h3{
    color: darkgoldenrod;
  text-align: center;
  font-size: 75px;
  width: 1130px;
  margin: 30px auto;
 
  }

.card
{
  position: relative;
  width: 345px;
  height: 335px;
  background:darkgoldenrod;;
  transition: 0,5%;
  left:77px ;
  top: 120px;
}

.card:hover
{

height: 450px;
}
.card .lines
{
  position: absolute;
  inset: 3px;
  background: #000;
  overflow: hidden;
  
}
.card .lines:before
{
  content: '';
  position: absolute;
  top:50%;
  left:50%;
  width:700px; 
  height:130px;
  background:linear-gradient(transparent,#45f3ff,#45f3ff,#45f3ff,transparent);
  animation:animate 4s linear infinite;
}
@keyframes animate
{
  0%
  {
   transform: translate(-50%,-50%) rotate(0deg);
  }
  100%
  {
    transform: translate(-50%,-50%) rotate(360deg);
  }

}
.card .lines::after
{
  content: '';
  position: absolute;
  inset:4px;
  background: rgb(9, 9, 78);;
}
.card .imgBx
{
position: absolute;
top:-50px;
left:50%;
transform:translateX(-50%);
width:195PX;
height:195PX ;
background: #000;
transition:0-5s;
z-index:10;
overflow:hidden;
}
.card .imgBx::before
{
  content: '';
  position: absolute;
  top:50%;
  left:50%;
  width:1000px; 
  height:130px;
  background:linear-gradient(transparent,#b11345,#b11345,#b11345,transparent);
  animation:animate2 6s linear infinite;
}
@keyframes animate2
{
  0%
  {
   transform: translate(-50%,-50%) rotate(360deg);
  }
  100%
  {
    transform: translate(-50%,-50%) rotate(0deg);
  }

}
.card .imgBx::after
{
  content: '';
  position: absolute;
  inset:5px;
  background: rgb(9, 9, 78);;
}
.card .imgBx img
{
  position: absolute;
  z-index: 1;
  width:calc(100%-20px);
  height:calc(100%-20px);
  filter:grayscale(1);
}
img{
  width:175px ;
  height:180px;
  left:11px ;
  top:7px;
}
.card .conteten
{
  position:absolute;
  width:100%;
  height:100%;
  display:flex;
  justify-content: center;
  align-items:center;
}
.card  .conteten .detaills 
{
  font-size: 1.25cm;
  font-weight: 600;
  color: #45f3ff;
  line-height: 1.2cm;
}
.g-card
{
  position: relative;
  width:345px ;
  height: 335px;
  background: darkgoldenrod;
  left:510px;
  bottom: 230px;
  transition: 0,5%;
}
.g-card:hover
{

height:450px;
}
.g-card .lines
{
position: absolute;
inset:3px;
background: #000;
overflow:hidden; 
}

.g-card .lines:before
{
content: '';
position: absolute;
top:50%;
left:50%;
width:700px; 
height:130px;
background:linear-gradient(transparent,#45f3ff,#45f3ff,#45f3ff,transparent);
animation :animate 4s linear infinite;

}

@keyframes animate
{
  0%
  {
   transform: translate(-50%,-50%) rotate(0deg);
  }
  100%
  {
    transform: translate(-50%,-50%) rotate(360deg);
  }

}
.g-card .lines::after
{
  content: '';
  position: absolute;
  inset:4px;
  background: rgb(9, 9, 78);;
}


.g-card .imgBg

  {
    position: absolute;
    top:-50px;
    left:50%;
    transform: translateX(-50%);
    width:195PX;
    height:195PX ;
    background: #000;
    transition:0-5s;
    z-index:10;
      overflow: hidden;
}
.g-card .imgBg img
{
  position: absolute;
  z-index: 1;
  width: calc(100%-20px);
  height: calc(100%-20px);
  filter: grayscale(1);
}
.g-card .imgBg:before
{
  content: '';
  position: absolute;
  top:50%;
  left:50%;
  width:1000px; 
  height:130px;
  background:linear-gradient(transparent,#b11345,#b11345,#b11345,transparent);
  animation:animate2 6s linear infinite;
}
@keyframes animate2
{
  0%
  {
   transform: translate(-50%,-50%) rotate(360deg);
  }
  100%
  {
    transform: translate(-50%,-50%) rotate(0deg);
  }
  
}

.g-card .imgBg::after
{
  content: '';
  position: absolute;
  inset: 5px;
  background: rgb(9, 9, 78);
}
.g-card .imgBg img
{
  position: absolute;
  z-index: 1;
  width:calc(100%-20px);
  height:calc(100%-20px);
  filter:grayscale(1);
}
.g-card .conteten
{
  position:absolute;
  width:100%;
  height:100%;
  display:flex;
  justify-content: center;
  align-items:center;
}

.h-card
{
  position: relative;
  width:345px ;
  height: 335px;
  background: darkgoldenrod;
  left: 955px;
  bottom: 566px;
  transition: 0,5%;
 
}
.h-card:hover
{

height:450px;
}
.h-card .lines
{
  position: absolute;
  inset:3px;
  background: #000;
  overflow:hidden; 
}
.h-card .lines:before
{
  content: '';
  position: absolute;
  top:8%;
  left:5%;
  width:700px; 
  height:130px;
  background:linear-gradient(transparent,#45f3ff,#45f3ff,#45f3ff,transparent);
  animation :animate 4s linear infinite;
}

@keyframes animate
{
  0%
  {
   transform: translate(-50%,-50%) rotate(0deg);
  }
  100%
  {
    transform: translate(-50%,-50%) rotate(360deg);
  }

}
.h-card .lines::after
{
  content: '';
  position: absolute;
  inset:4px;
  background: rgb(9, 9, 78);;
}
.h-card .imgBh

  {
    position: absolute;
    top:-50px;
    left:50%;
    transform: translateX(-50%);
    width:195PX;
    height:195PX ;
    background: #000;
    transition:0-5s;
    z-index:10;
      overflow: hidden;
    }
    
    .h-card .imgBh img
    {
      position: absolute;
      z-index: 1;
      width: calc(100%-20px);
      height: calc(100%-20px);
      filter: grayscale(1)
}
.h-card .imgBh:before
{
  content: '';
  position: absolute;
  top:50%;
  left:50%;
  width:1000px; 
  height:130px;
  background:linear-gradient(transparent,#b11345,#b11345,#b11345,transparent);
  animation:animate2 6s linear infinite;
}
@keyframes animate2
{
  0%
  {
   transform: translate(-50%,-50%) rotate(360deg);
  }
  100%
  {
    transform: translate(-50%,-50%) rotate(0deg);
  }
  
}
.h-card .imgBh::after
{
  content: '';
  position: absolute;
  inset: 5px;
  background: rgb(9, 9, 78);;
}
.h-card .conteten
{
  position:absolute;
  width:10px;
  height:100;
  bottom: 0px;
  top: 130px;
  left: 175px;
  display:flex;
  justify-content: center;
  align-items:center;

}
.conteten{
  top: 70px;
  color: #fff;
}
@media screen and (max-width: 885px){
  .centre{ 
    width: 255vh;  
}
.g-card{
  left: 500px;
}
}
/*----------------------------------------------------------------
#FOOTER

--------------------------------------------------------------------*/

.footer{
  width: 70%;
  padding: 80px 15%;
  background:darkgoldenrod ;
  color: #fff;
  display: flex;
}
.footer div{
  text-align: center;
}
.col-2{
  flex-grow: 2;
}
.footer div{
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;

}
.col-1 a{
  display: block;
  text-decoration: none;
  color: #efefef;
  margin-bottom: 10px;

}
form input{
  width: 300px;
  height: 35px;
  border-radius: 4px;
  margin-top: 15px;
  text-align: center;
  margin-bottom: 30px;
  outline: none;
  border: none;
}
form button{
  background-color:rgb(9, 9, 78) ;
  border: 2px solid rgb(9, 9, 78);
  color: #fff;
}
.social-icons i{
  font-size: 22px;
  margin: 10px;
  cursor: pointer;
}
.social-icons{
  margin-top: 30px;
}
@media screen and (max-width: 885px){
  .footer{ 
    width: 228vh;
}
}











  
  

  













 

 


  




  



  

